* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    font-family: sans-serif;
    font-size: 25px;
    width: 100%;
    min-height: 100vh;
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 20px;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-wrap: wrap; 
    padding-right: 30px;
    border: 2px solid sienna;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.row {
    
}

.box {
    background-color: azure;
    height: 20px;
    width: 20px;
}